.writer {
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50rem;
}

.writer_label {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #524e4e;
  text-transform: capitalize;
  margin: 5px 0;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.heading_field {
  margin-bottom: 1rem;
  width: 100%;
}
.storyArea {
  resize: none;
  width: 100%;
  overflow-x: hidden;
  height: 60vh;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 50rem;
  padding: 10px;
  box-sizing: border-box;
}
@media only screen and (max-width: 872px) {
  .writer {
    width: 95%;
  }
  .storyArea {
    width: 90%;
  }
  .heading_field {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .heading_field {
    width: 80%;
  }
}

/* @media only screen and (max-width: 708px) {
  .storyArea {
    width: 30rem;
  }
  .heading_field {
    width: 30rem;
  }
} */
