.writer {
  width: 50rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.writer_label {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #524e4e;
  text-transform: capitalize;
  margin: 5px 0;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.heading_field {
  width: 50rem;
  margin-bottom: 1rem;
}
.storyArea {
  resize: none;
  overflow-x: hidden;
  height: 60vh;
  width: 50rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 50rem;
  padding: 10px;
  box-sizing: border-box;
}
